footer {
    padding: 25px 0px 15px;
    background-color: $dark-grey;
    margin-top: 20px;
    .menu {
        margin-bottom: 20px;
        color: $white;
        ul {
            margin-bottom: 10px;
            li {
                padding: 0;
                border-right: 2px solid $white;
                margin-right: 10px;
                padding-right: 10px;
                &:hover {
                    a {
                        color: $black;

                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
    }
    .footer-description {
        display: flex;
        p {
            color: $grey;
            flex: 1 1 auto;
            margin-bottom: 0px;
        }
        .small-logo {
            margin-left: 10px;
            flex: 0 0 auto;
            display: flex;
            align-items: flex-end;
        }
    }
}