.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &.align-right {
        justify-content: flex-end;
    }
    &.space-between {
        justify-content: space-between;
    }
    .spaces {
    	display: flex;
    	& > div {
    		margin-right: 10px;
    		margin-left: 10px;
            width: 100%;
    	}
    	&:first-child {
    		& > div {
    			margin-left: 0px;
    		}
    	}
    	&:last-child {
    		& > div {
    			margin-right: 0px;
    		}
    	}
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.grid-1-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.grid-1-3 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.grid-2-3 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
}

.grid-3-4 {

    flex: 0 0 75%;
    max-width: 75%;
}
.grid-1-4 {

    flex: 0 0 25%;
    max-width: 25%;
}
