/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    .container {
        width: 97%;
    }
    .grid-1-2,
    .grid-1-3,
    .grid-1-4,
    .grid-3-4,
    .grid-2-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row {
        .spaces {
            &>div {
                margin-right: 0px;
                margin-left: 0px;
            }
        }
    }
}

@media only screen and (max-width: 570px) {
    .main-menu {
        ul {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
        }
    }
    .menu ul li ul {
        left: -65px;
    }
    footer {
        .menu {
            ul {
                flex-direction: column;
                li {
                    border: none;
                    margin-bottom: 3px;
                }
            }
        }
        .footer-description {
            flex-direction: column;
            .small-logo {
                margin-left:0;
                margin-top: 10px;
            }
        }
    }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 400px) {}

// Containers

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}