html,
body {
    min-height: 100%;
    box-sizing: border-box;
    font-family: Arial;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: $light-grey;
}

.big-logo {
    font-size: 35px;
    color: $white;
    font-weight: bold;
    opacity: 0.8;
}

.small-logo {
    font-size: 25px;
    color: $white;
    font-weight: bold;
}

.menu {
    ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: block;
            float: left;
            position: relative;
            a {
                color: $white;
                text-decoration: none;
            }
            cursor: pointer;
            padding: 10px 0px 0px 15px;
            &:hover>ul,
            & ul:hover {
                visibility: visible;
                opacity: 1;
                display: block;
            }
            ul {
                z-index: 999;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: all 0.5s ease;
                left: -50%;
                display: none;
                background-color: $main-menu-bg;
                margin-top: 20px;
                &:before {
                    content: '';
                    top: -10px;
                    position: absolute;
                    width: 0;
                    left: 75px;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $main-menu-bg;
                }
                &:after {
                    content: '';
                    width: 100%;
                    height: 20px;
                    position: absolute;
                    top: -20px;
                    left: 0;
                }
                li {
                    font-size: 13px;
                    min-width: 180px;
                    clear: both;
                    width: 100%;
                    padding: 8px;
                    a {
                        font-size: 16px;
                    }
                    &:hover {
                        a {
                            color: $white;
                        }
                        background-color: $main-menu-bg-hover;
                    }
                }
            }
        }
    }
}

.error {
    border: 2px solid red;
}
//Typography
h1,
h2,
h3 {
    margin: 0px 0px 10px 0px;
    font-family: New Roman;
}
h1 {
    font-size: 30px;
}

p {
    margin: 0px 0px 15px 0px;
    line-height: 22px;
}